body{
    font-family: 'Poppins', sans-serif;
    background: #FBFEFF;
}
/* ===================================================
                    navbar start 
==================================================== */
nav{
    position: absolute !important;
    width: 100%;
}
nav ul li {
    margin-left:66px;
}
nav ul li a {
    font-size: 18px !important;
    font-weight: 500 !important;
    color:#131519 !important;
    transition: .4s;
}
nav ul li a:hover{
    color:#3E82FC !important
}
/* ===================================================
                    navbar end 
==================================================== */
/* ===================================================
                    banner start 
==================================================== */
#banner{
    background: url(../images/banner-bg.png) no-repeat center;
    background-size: cover;
    padding-top:226px;
    padding-bottom: 550px;
}
#banner .banner-text h1{
    font-size: 77px;
    font-weight: 600;
    color:#05060A;
    line-height: 128%;
    letter-spacing: 1%;
    width: 640px;
}
#banner .banner-text p{
    font-size: 22px;
    font-weight: 500;
    color:#9298A5;
    line-height: 150%;
    width: 459px;
    margin-top: 10px;
}
#banner .banner-text a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding:15px 40px;
    border-radius: 40px;
    background:transparent;
    text-decoration: none;
    margin-top: 55px;
    margin-right: 28px;
    color:#3E82FC;
    border: 1px solid #3E82FC;;
    transition: .4s;

}
#banner .banner-text a:hover{
    background: #3E82FC;
    color:#FFFFFF;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
-moz-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
}
#banner .banner-img img{
    border-radius: 500px;
}
/* ===================================================
                    banner end 
==================================================== */
/* ===================================================
                    about part  start 
==================================================== */
#about-part{
    margin-top: -450px;
    position: relative
;   z-index: 9999;
 
margin-bottom: 100px;
}
#about-part h1{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 76px;
}
#about-part h1 span{
   font-weight: 700 ;
   font-style: italic;
   color:red
}
#about-part .main{
    -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.1);
    background: #FBFEFF;

}
#about-part .item{
    padding:66px;
}
#about-part .item h2{
   font-size: 24px;
   font-weight: 600;
   color:#05060A;
   margin-top: 28px;

} 
#about-part .item p{
    font-size: 18px;
    font-weight: 400;
    color:#5D616F;
    line-height:26px;
    width: 268px;
    margin-top: 12px;
}
#about-part .item a{
    font-size: 18px;
    font-weight: 400;
    color:red;
    line-height:26px;
    margin-top: 4px;
    text-decoration: none;
    position: relative;

}
#about-part .item a::after{
    width: 80%;
    height: 1px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}
/* ===================================================
                    about part  end 
==================================================== */
/* ===================================================
                    safe part  start 
==================================================== */
#safe-part {
    margin-top: 194px;
    margin-bottom: 100px;
    background:url(../images/safeshapebg.png) no-repeat center;
    background-size: cover;
}
#safe-part h1{
    font-size: 62px;
    font-weight: 600;
    line-height: 126%;
    color:#05060A;
    width: 508px;

}
#safe-part img {
    border-radius: 500px 0px 500px 500px;
}
#safe-part p{
    font-size: 22px;
    font-weight: 400;
    line-height: 146%;
    color:#5D616F;
    width: 374px;
    margin-top: 12px;

}
#safe-part  a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding:15px 40px;
    border-radius: 40px;
    background:transparent;
    text-decoration: none;
    margin-top: 32px;
    color:#3E82FC;
    border: 1px solid #3E82FC;;
    transition: .4s;

}
#safe-part  a:hover{
    background: #3E82FC;
    color:#FFFFFF;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
-moz-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
}
#safe-part .text{
    position: relative;
}
#safe-part .text img{
    position: absolute;
    top:50%;
    right: 0;
}
/* ===================================================
                    safe part  end 
==================================================== */
/* ===================================================
                    truste part  start 
==================================================== */

#truste-part .title {
    text-align: center;
}
#truste-part .title h5{
    font-size: 20;
    font-weight: 500;
    color:#3E82FC
}
#truste-part .title h2{
    font-size: 40;
    font-weight: 600;
    color:#05060A;
    margin-top: 10px;
    margin-bottom: 118px;
}

#truste-part .img{
    display: flex;
    justify-content: center;
}
#truste-part  .t-down{
    margin-top: 80px;
}
/* ===================================================
                    truste part  end 
==================================================== */
/* ===================================================
                    enjoy part  start 
==================================================== */
#enjoy-part {
    margin-top: 194px;
    margin-bottom: 100px;
    background:url(../images/reviewshape.png) no-repeat center;
    background-size: cover;
}
#enjoy-part h1{
    font-size: 62px;
    font-weight: 600;
    line-height: 126%;
    color:#05060A;
    width: 508px;

}
#enjoy-part img {
    border-radius: 50px 500px 500px 500px;
}
#enjoy-part p{
    font-size: 22px;
    font-weight: 400;
    line-height: 146%;
    color:#5D616F;
    width: 374px;
    margin-top: 12px;

}
#enjoy-part  a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding:15px 40px;
    border-radius: 40px;
    background:transparent;
    text-decoration: none;
    margin-top: 32px;
    color:#3E82FC;
    border: 1px solid #3E82FC;;
    transition: .4s;

}
#enjoy-part  a:hover{
    background: #3E82FC;
    color:#FFFFFF;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
-moz-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
}
#enjoy-part .text{
    position: relative;
}
#enjoy-part .text img{
    position: absolute;
    top:50%;
    right:0;
}
/* ===================================================
                    enjoy part  end 
==================================================== */
/* ===================================================
                    nature part  start 
==================================================== */
#nature-part {
    margin-top: 194px;
    margin-bottom: 100px;
    background:url(../images/reviewshape.png) no-repeat center;
    background-size: cover;
}
#nature-part h1{
    font-size: 62px;
    font-weight: 600;
    line-height: 126%;
    color:#05060A;
    width: 508px;

}
#nature-part img {
    border-radius: 50px 500px 500px 500px;
}
#nature-part p{
    font-size: 22px;
    font-weight: 400;
    line-height: 146%;
    color:#5D616F;
    width: 374px;
    margin-top: 12px;

}
#nature-part  a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding:15px 40px;
    border-radius: 40px;
    background:transparent;
    text-decoration: none;
    margin-top: 32px;
    color:#3E82FC;
    border: 1px solid #3E82FC;;
    transition: .4s;

}
#nature-part  a:hover{
    background: #3E82FC;
    color:#FFFFFF;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
-moz-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
}
#nature-part .text{
    position: relative;
}
#nature-part .text img{
    position: absolute;
    top:50%;
    right:0;
}
/* ===================================================
                    nature part  start 
==================================================== */
/* ===================================================
                    review part  start 
==================================================== */
#review-part {
   margin-bottom: 196px;
}
#review-part .review-slider ul {
    bottom:-50px;
    left: 50%;
    transform: translate(-50%,50%);
    position: absolute;
}
#review-part .review-slider ul  .slick-active button{
    background: #3E82FC;
}
#review-part .review-slider ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
}
#review-part .review-slider ul li button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    border:1px solid transparent;
}
#review-part .title{
    text-align: center;
}
#review-part .title h3{
   font-size: 20px;
   font-weight: 500;
   color:#3E82FC;
   line-height: 26px;
}
#review-part .title h1{
    font-size: 40px;
    font-weight: 600;
    color:#05060A;
    line-height: auto;
    margin-top: 10px;
 }
 #review-part .main{
     text-align: center;
     box-shadow: 0px 8px 10px -15px #111;  
     padding:52px 57px;
     position: relative;
     margin-top: 116px;
 }
 #review-part .main img{
    margin: 0 auto;
 }
 #review-part .main .shape{
     position: absolute;
     top:50px;
     left: 90px;
 }
 #review-part .main h2{
    font-size: 22px;
    font-weight: 600;
    color:#05060A;
    line-height: 26px;
    margin-top: 26px;
 }
 #review-part .main h3{
    font-size: 18px;
    font-weight: 400;
    color:red;
    line-height: 26px;
    margin-top: 4px;
 }
 #review-part .main p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color:#5D616F;
    width: 612px;
    margin: 10px auto;

 }
 #review-part .main ul{
     margin-top: 2px;
 }
 #review-part .main ul li{
     list-style: none;
     color:gold;
     display: inline-block;
     font-size: 26px;
     margin-right:6px;
 }
 #review-part .review{
     height: 500px;
 }
/* ===================================================
                    review part  end 
==================================================== */
#subscribe-part {
    background:#ECF3FF;
    padding-top: 118px;
    padding-bottom: 98px;
}

#subscribe-part .title{
    text-align: center;
}
#subscribe-part .title h2{
    font-size: 40px;
    font-weight: 600;
    color:#05060A;
    line-height: auto;
    width: 575px;
    margin:  0 auto;
}
#subscribe-part .title h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color:#5D616F;
    width: 636px;

    margin:0 auto;
    margin-top: 30px;
}
#subscribe-part .form{
    display: flex;
    justify-content: center;
    margin-top: 76px;
 
}
#subscribe-part .form .msg{
    position: absolute;
    top:15px;
    left: 25px;
    font-size: 26px;
    color:#3E82FC
}
#subscribe-part .form .input{
    position: relative;
}
#subscribe-part .form a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    padding:15px 40px;
    border-radius: 40px;
    background:transparent;
    text-decoration: none;
  margin-left: 19px;
    color:#3E82FC;
    border: 1px solid #3E82FC;;
    transition: .4s;
}
#subscribe-part .form a:hover{
    background: #3E82FC;
    color:#FFFFFF;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
-moz-box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
box-shadow: 0px 0px 23px 0px rgba(62,130,252,0.56);
}
#subscribe-part input{
    width: 448px;
    border-radius: 50px;
    border:1px solid #3E82FC;
    padding:16px 0;
    padding-left: 66px;
    background: transparent;
 
}
#subscribe-part input::placeholder{
    font-size: 16px;
    font-weight: 400px;
    color:#3E82FC
}
/* ===================================================
                    review part  end 
==================================================== */
/* ===================================================
                    footer part  start 
==================================================== */
footer {
    padding-top: 139px;
    background:#ECF3FF;
    padding-bottom: 48px;
}
footer h2{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color:#5D616F;
    margin-top: 131px;
}
footer .item p{
    font-size: 20px;
    font-weight: 400;
    width: 341px;
    color:#5D616F;
    margin-top: 16px;

}
footer .item  ul {
    margin-left: -30px;
    margin-top: 48px;
}
footer .item  ul li{
    list-style: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3E82FC;
    text-align: center;
    line-height: 50px;
    color:#ECF3FF;
    margin-right: 30px;

}
footer .item1 h3{
    font-size: 20px;
    font-weight: 500;
}
footer .item1  ul li{
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    color:#5D616F;
    margin-left: -30px;
    margin-top: 30px;
    transition: .4s;
}footer .item1  ul li:hover{
    color:#3E82FC
}
/* ===================================================
                    footer part  end 
==================================================== */